html {
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
  font-weight: 700;
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;

}
.header {
  display: flex;
  background-color: #1f2937;
  margin: 0;
  padding: 0 20px;
  color: rgb(255, 255, 255);
  font-size: 24px;
}
p {
  font-weight: bold;
  padding-left: 10px;
}
ul {
  display: flex;
  list-style-type: none;
  gap: 12px;
  margin-left: auto;
  padding-right: 10px; 
}
a {
  text-decoration: none;
  color: white;
}
.ran {
  display: flex;
  background-color:rgb(255, 255, 255) ;
  color: white;
  margin: 30px 0;
  justify-content: center;
  align-items: center;
}
.random {
  display: flex;
  flex-direction: column;
  max-width: 50vh;
  flex-wrap: wrap;
  font-weight: bolder;
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 6%;
}
.img1 {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width:  50vh;
  background-color: white;
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;

}
.p {
  text-align: center;
}
img {
  width: 300px;
  height: 250px;
}
.bc {
  background-color: rgb(215, 214, 214);
  position: relative;
  margin-top: 20px;
}
.aut {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 20%;
}
.q {
    margin: 20px auto;
    width: 500px;
  }
.signup {

  height: 100px;
  background-color: white;
  padding: 25px;
  height:min-content;

}
.up {
  margin: 0px auto;
  padding: 10px 10px;
  padding-left: 7%;
  color: white;
  background-color: #95c1ff;
}

button {
  background-color: rgb(210, 48, 48);
  color: #ffffff;
  padding: 6px;
  border-radius: 10px;
  padding: 10px;
  margin-left: 5%;

}
button:hover {
  background-color: rgb(70, 235, 111);
}
button:active {
  background-color: #da7a36;
  padding: 10px;
}
.copyright {
  background-color: #1f2937;
  margin: 0%;
  text-align: center;
  color: white;
}